@import '../../../variables.scss';
.points-page{
    @include adminBlock;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    &__sort{
        .admin__select{
            margin-right: 10px;
            min-width: 200px;
        }
    }
}