@import '../../../variables.scss';
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  * {
    margin: 7.5px;
    font-family: $adminFont;
    font-weight: normal;
  }
  &__code {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 75px;
    line-height: 88px;
    color: #cacedb;
    text-align: center;
  }
  &__description {
    font-size: 50px;
    line-height: 57px;
    color: $adminFontColor;
    text-align: center;
  }
  &__small-text {
    font-size: 20px;
    line-height: 23px;
    color: $adminFontColor;
    text-align: center;
  }
}
