@import '../../../variables.scss';
.rate-page {
  @include adminBlock;
  margin-bottom: 20px;
  min-height: 400px;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 435px){
  .rate-page{
    width: 380px;
  }
}