@import 'variables';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/HelveticaBold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/HelveticaRegular.ttf');
  font-style: normal;
    font-weight: 400;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/HelveticaLight.ttf');
  font-style: normal;
  font-weight: 300;
}

body {
  margin: 0;
  height: 100vh;
}
.App {
  height: 100vh;
}
fieldset {
  border: none;
  width: fit-content;
}
