$blue: #007bff;
$backgroundAdmin: #f5f6f8;
$grayButton: #becad6;
$red: #c4183c;
$mainBlack: #121212;
$mainAccent: #0ec261;

$desktopMini: 1439px;
$tablet: 1023px;
$smart: 767px;

$adminFont:'Helvetica';
$adminFontColor:#3D5170;
$adminBorder:solid 1px #E1E5EB;