@import '../../../variables.scss';
$shape: url('../../../assets/Shape.svg');
$notifications: url('../../../assets/Notifications.svg');

.admin-panel__container__topbar {
  color: $adminFontColor;
  font-family: $adminFont;
  .searching-form {
    padding-left: 24px;
    .shape {
      position: absolute;
      top: 28px;
      left: 72px;
      display: inline-block;
      width: 13px;
      height: 13px;
      mask-size: cover;
      background: $adminFontColor;
      -webkit-mask-position: 0 0;
      -webkit-mask-size: 16px 16px;
      mask: $shape;
    }
    flex: 1 1;
    &__input {
      cursor: text;
      box-sizing: border-box;
      width: 90%;
      font-family: $adminFont;
      color: $adminFontColor;
      padding: 10px;
      font-size: 14px;
      line-height: 15px;
      height: 100%;
      outline: none;
      border: none;
    }
  }
  .notifications-block {
    width: 68.5px;
    border-left: $adminBorder;
    border-right: $adminBorder;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      mask: $notifications;
      display: inline-block;
      width: 26px;
      height: 26px;
      mask-size: cover;
      background: $adminFontColor;
      -webkit-mask-position: 0 0;
      -webkit-mask-size: 26px 26px;
    }
    &__counter {
      font-family: $adminFont;
      font-weight: bold;
      font-size: 9px;
      line-height: 13px;
      height: 14px;
      position: absolute;
      background: $red;
      border-radius: 50%;
      width: 14px;
      color: #fff;
      text-align: center;
      margin: 10px 0px 0px 20px;
    }
  }
  .user-block {
    overflow: hidden;
    width: 218px;
    height: 68.5px;
    background: #fff;
    transition: height 0.6s cubic-bezier(0.39, 0.58, 0.57, 1);
    &:hover,
    &:active,
    &:focus {
      height: 137px;
      box-shadow: 0px 2px 0px #5a61691c, 0px 4px 8px #5a61691f,
        0px 10px 10px #5a61690f;
      .user-block__logout {
        display: flex !important;
      }
    }
    &__group {
      width: 100%;
      height: 68.5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: $adminBorder;
      &__user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $adminFontColor;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        &__user-pic {
          padding: 0px 10px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        &__user-name {
          font-family: $adminFont;
          font-weight: normal;
          font-size: 15px;
          line-height: 17px;
        }
      }
    }
    &__logout {
      display: none;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 68.5px;
      button {
        width: 100%;
        height: 100%;
        outline: none;
        box-sizing: border-box;
        border: none;
        font-family: $adminFont;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: $adminFontColor;
        background: #fff;
        &:hover {
          background: rgb(243, 243, 243);
        }
      }
    }

    &__wrapper {
      position: relative;
      width: 10px;
      span {
        right: 10px;
        position: absolute;
        border: 5px solid transparent;
        border-top: 5px solid $adminFontColor;
      }
    }
  }
}

@media (max-width: $smart) {
  .admin-panel__container__topbar {
    .user-block {
      width: 57px !important;
      &__user-name {
        display: none;
      }
      &__dropdown {
        display: none;
      }
    }
  }
}

@media (min-width: 1150px) {
    .searching-form .shape {
          position: absolute !important;
          left: 315px !important;
        }
  
}
