@import '../../../variables.scss';
.car-list-page {
  @include adminBlock;
  min-height: 414px;
  display: flex;
  flex-direction: column;
  font-family: $adminFont;
  font-weight: normal;
  &__container {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    overflow-x: auto;
  }
  &__car-card {
    position: relative;
    text-align: center;
    display: grid;
    -webkit-box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    -moz-box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'img name'
      'img number'
      'img tank'
      ' colors  colors'
      'description description';
    border: $adminBorder;
    &__img {
      grid-area: img;
      width: 200px;
      border-right: $adminBorder;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 300px;
        object-fit: scale-down;
        border-radius: 10px;
      }
    }
    
    &__name {
      grid-area: name;
    }

    &__number {
      grid-area: number;
      border-top: $adminBorder;
    }

    &__colors {
      grid-area: colors;
      border-top: $adminBorder;
    }

    &__tank {
      grid-area: tank;
      border-top: $adminBorder;
    }

    &__description {
      grid-area: description;
      max-width: 255px;
      border-top: $adminBorder;
    }
  }
}
@media(max-width:$tablet){
  .car-list-page__car-card{
    width: 100%;
  }
}