@import '../../../variables.scss';
.car-list-page {
  @include adminBlock;
  min-height: 414px;
  display: flex;
  flex-direction: column;
  font-family: $adminFont;
  font-weight: normal;
  &__container {
    flex: 1 1;
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    padding: 20px;
  }
  &__car-card {
    position: relative;
    text-align: center;
    display: grid;
    width: 24%;
    -webkit-box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    -moz-box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    box-shadow: 13px 2px 14px 0px rgba(34, 43, 80, 0.2);
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'img name'
      'img number'
      'img tank'
      ' colors  colors'
      'description description';
    border: $adminBorder;
    &:hover{
      .mask{
        display: flex;}
    }
    .mask{
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      background: #ffffff8a;
  }
    &__img {
      grid-area: img;
       min-width: 100px;
      border-right: $adminBorder;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 300px;
        object-fit: scale-down;
        border-radius: 10px;
        padding: 10px;
      }
    }
    
    &__name {
      grid-area: name;
      padding: 10px;
    }

    &__number {
      grid-area: number;
      padding: 10px;
      border-top: $adminBorder;
    }

    &__colors {
      grid-area: colors;
      padding: 10px;
      border-top: $adminBorder;
    }

    &__tank {
      grid-area: tank;
      padding: 10px;
      border-top: $adminBorder;
    }

    &__description {
      grid-area: description;
      border-top: $adminBorder;
    }
  }
}
@media (max-width: 1000px) {
  .car-list-page{
  &__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
&__car-card{
  width: 85%;
}
}}